{% extends 'layout.html' %}
{% block titulo %}
	Inicio de sesion
{% endblock %}
{% block form %}
	<form role="form" action="/login" method="POST">
		<div class="form-group">
			<label for="exampleInputUsuario">Usuario</label>
			<input type="text" id="exampleInputUsuario" name="usuario" class="form-control">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword">Password</label>
			<input type="password" id="exampleInputPassword" name="password" class="form-control">
		</div>
		<button type="submit" class="btn btn-default">Login</button>
		<div class="form-group">
			<p>Si no tiene una cuenta aun, por favor <a href="/Registro">Registrese</a></p>
		</div>
	</form>
{% endblock %}